/*  D.  Create one external CSS stylesheet that is linked to ALL of your HTML pages. Ensure that your CSS includes the following components, in no particular order, each of which is applied to at least one HTML element in Aspects A, B, or C
•   element selector
•   class selector
•   id selector
•   descendant selector
•   pseudo-class selector
•   universal selector
•   font property
•   color property
•   font-style property
•   background-color property
•   margin property
•   padding property
•   border property
•   at least 1 list-style property
*/

* {
    font-family: 'Aptos', Arial, Helvetica, sans-serif;
}
.education {
    font-family: 'Times New Roman', Times, serif;
    max-width: 650px;
    color: #000;
}

.header-contatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.header-contatiner h2 {
    color: #0d3b66;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin: 0;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.institution {
    font-size: 18px;
    line-height: 1.2;
}

.location {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 4px;
}

.dates, .degree {
    font-size: 14px;
    font-style: italic;
    color: #555;
}